.bg_wrap {
    height: 51vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/images/benz.jpeg");
    background-position: center;
    overflow: hidden;
    margin-top: -2rem;
}

.cat_wrapper {
    background-color: #ddd;
    ;
    color: grey;
    font-size: 14px;
    width: 23vw;
    height: 26vh;
    color: black;
    margin-top: 5px;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    //row-gap: 10px;
    //column-gap: 10px;
    gap: 10px;
}

.img_wrapper {
    width: 20vw;
    height: 19vh;
    margin-top: -13px;
}