<app-header></app-header>
<div class=bg_wrap>

</div>
<div class="card_wrapper">
    <mat-card class="cat_wrapper">
        <div routerLink="/single"><img class="img_wrapper" src="./assets/1.png" /></div>
        <div> Rohbau/Presswerk</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div routerLink="/single"><img class="img_wrapper" src="./assets/2.png" /></div>
        <div> Ausstattung/Montage</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div routerLink="/single"><img class="img_wrapper" src="./assets/3.png" /></div>
        <div> Fahrwerk/Triebstrang</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div><img class="img_wrapper" src="./assets/4.png" /></div>
        <div> Rohbauansichten</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div><img class="img_wrapper" src="./assets/5.png" /></div>
        <div> Gesamtansichten</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div><img class="img_wrapper" src="./assets/6.png" /></div>
        <div> Categories</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div><img class="img_wrapper" src="./assets/6.png" /></div>
        <div> Categories</div>
    </mat-card>
    <mat-card class="cat_wrapper">
        <div><img class="img_wrapper" src="./assets/6.png" /></div>
        <div> Categories</div>
    </mat-card>
</div>