<!-- <nav class="navbar navbar-expand-md navbar-light" style="background-color:#25616a !important;background: transparent;">


    <a class="navbar-brand" style="color: lightcyan;">
        <img src="./assets/logo.png" style="width: 45px;" />
        
        <span style="text-align: center; color: white;"><b>MO-Grafik</b></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <div class="form-inline my-2 my-md-0 sign_wrapper">


            <button style="margin-left: 10px;">Help</button>

          
            <button mat-raised-button style="padding-right: 10px;background-color: #25616a;color: white;">Request Access</button>
        </div>
Modules-->

<!-- </div>

</nav>  -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li> <img class="img_wrapper" src="./assets/logo.png" /></li>
                <li><a class="navbar-brand navbar-left" href="#">MO-Grafik</a></li>
            </ul>

        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="but_wrap" mat-button [matMenuTriggerFor]="modules">Modules</button></li>

            <mat-menu #modules="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="Klasse">A-Klasse</button>
                <button mat-menu-item>AMG</button>
                <button mat-menu-item [matMenuTriggerFor]="cklasse">C-Klasse</button>
                <button mat-menu-item>B-Klasse</button>

                <button mat-menu-item>CLA-Klasse</button>
                <button mat-menu-item>CLS-Klasse</button>
                <button mat-menu-item>E-Klasse</button>
                <button mat-menu-item>EQ</button>
                <button mat-menu-item>GLA-Klasse</button>
            </mat-menu>
            <mat-menu #Klasse="matMenu">
                <button mat-menu-item>BB305</button>
                <button mat-menu-item>BB306</button>
                <button mat-menu-item>BB307</button>
                <button mat-menu-item>BB308</button>
                <button mat-menu-item>BB309</button>
                <button mat-menu-item>BB310</button>
                <button mat-menu-item>BB311</button>
            </mat-menu>
            <mat-menu #cklasse="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="brtwozerofive">BR205</button>
                <button mat-menu-item>BR206</button>
                <button mat-menu-item>BR232</button>
                <button mat-menu-item>BR240</button>
                <button mat-menu-item>BR241</button>
            </mat-menu>

            <mat-menu #brtwozerofive="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="brtwozerosix">W206</button>
                <button mat-menu-item [matMenuTriggerFor]="vtwozerosix">V206</button>
                <button mat-menu-item>S206</button>

            </mat-menu>
            <mat-menu #vtwozerosix="matMenu">
                <button mat-menu-item>W301</button>
                <button mat-menu-item>W302</button>
                <button mat-menu-item>W303</button>
                <button mat-menu-item>W304</button>
            </mat-menu>








            <mat-menu #brtwozerosix="matMenu">
                <button mat-menu-item routerLink="/single">Rohbau/Presswerk</button>

                <button mat-menu-item>Ausstattung/Montage</button>
                <button mat-menu-item>Fahrwerk/Triebstrang</button>
                <button mat-menu-item>Rohbauansichten</button>
                <button mat-menu-item>Gesamtansichten</button>
            </mat-menu>


            <!-- <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Request Access</a></li>
        </ul>
    </div>
</nav>