li {
    display: inline;
}

.navbar-nav {
    float: left;
    margin: 0;
    display: inline;
}

.img_wrapper {
    width: 98px;
    margin-left: -13rem;
    height: 4rem;
}

.but_wrap {
    overflow: visible;
    /* border: none; */
    border: none;
    width: 18rem;
    margin-top: 2rem;
    margin-left: -8rem;
    height: 2rem;
    font-size: 14px;
}