<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li> <img class="img_wrapper" src="./assets/logo.png" /></li>
                <li><a class="navbar-brand navbar-left" href="#">MO-Grafik</a></li>
            </ul>

        </div>

        <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Request Access</a></li>
        </ul>
    </div>
</nav>
<div class="row col-md-12 div_wrapper">
    <div class="col-md-4  imdisplay_wrapper "><img class="img_dis" src="./assets/1.png" /></div>
    <div class="col-md-4 file_wrapper">
        <div class="row col-md-12 data_wrapper">
            <div class="col-md-2"><img class="si_img" src="./assets/pdf.png" /></div>
            <div class="col-md-2"><img class="do_img" style="cursor: pointer;" (click)="DownloadPdf()" src="./assets/do.png" /></div>
            <div class="col-md-4 " style="padding:0rem;margin-top:23px;margin-left:1rem;"> No of Downloads</div>

        </div>
        <br>
        <br>
        <div class="row col-md-12 data_wrapper">
            <div class="col-md-2"><img class="si_img" src="./assets/zip.png" /></div>
            <div class="col-md-2"><img class="do_img" style="cursor: pointer;" (click)="DownloadZip()" src="./assets/do.png" /></div>
            <div class="col-md-4 " style="padding:0rem;margin-top:23px;margin-left:1rem;"> No of Downloads</div>
        </div>
        <br>
        <br>

        <div class="row col-md-12 data_wrapper">
            <div class="col-md-2"><img class="si_img" src="./assets/xl.png" /></div>
            <div class="col-md-2"><img class="do_img" style="cursor: pointer;" (click)="DownloadExcel()" src="./assets/do.png" /></div>
            <div class="col-md-4 download_wrapper" style="padding:0rem;margin-top:23px;margin-left:1rem;"> No of Downloads</div>
        </div>
    </div>
    <div class="col-md-3 check_wrapper">
        <section class="example-section">
            <span class="example-list-section">
          <mat-checkbox class="example-margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            {{task.name}}
          </mat-checkbox>
         </span>

            <span class="example-list-section">
          <ul>
            <li *ngFor="let subtask of task.subtasks">
              <mat-checkbox [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                {{subtask.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
        </section>
    </div>
</div>