.imdisplay_wrapper {
    height: 90vh;
    background-color: rgb(119, 111, 128);
}

.file_wrapper {
    height: 90vh;
    background-color: #eee;
}

.check_wrapper {
    height: 90vh;
    background-color: white;
    color: black;
}

.div_wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

// li {
//     display: inline;
// }
.navbar-nav {
    float: left;
    margin: 0;
    display: inline;
}

.img_wrapper {
    width: 98px;
    margin-left: -13rem;
    height: 4rem;
}

.but_wrap {
    overflow: visible;
    /* border: none; */
    border: none;
    width: 18rem;
    margin-top: 2rem;
    margin-left: -8rem;
    height: 2rem;
    font-size: 14px;
}

.data_wrapper {
    display: flex;
    row-gap: 4 rem;
    margin-top: 5rem;
    /* gap: 0
px
; */
    margin-bottom: 1 rem;
    margin-top: 7 rem;
}

.si_img {
    width: 5vw;
    height: 10vh;
}

.do_img {
    width: 2vw;
    height: 3vh;
    margin-top: 25px;
    margin-left: 1rem;
}

.img_dis {
    height: 79vh;
    width: 30vw;
    margin-top: 20px;
}