/* You can add global styles to this file, and also import other style files */

// @import '~ngx-toastr/toastr.css';
html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;
    overflow-x: hidden;
    background-color: var(--gray-dark);
    //background-color: #fff;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

footer {
    //margin-top: 6rem;
    /* width: -webkit-fill-available; */
    background-color: aquamarine;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.mat-icon {
    cursor: pointer;
}

tbody tr:hover {
    //background-color: #fff !important;
}

th {
    background-color: #25616a;
}

::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: visible;
}


/* On screens that are 992px wide or less, the background color is blue */

// @media screen and (max-width: 992px) {
//     body {
//       background-color: blue;
//       color: white;
//     }
//   }
//   /* On screens that are 600px wide or less, the background color is olive */
//   @media screen and (max-width: 600px) {
//     body {
//       background-color: olive;
//       color: white;
//     }
//   }